@using PROLOSENLINEA.Models
@using System.Collections;
@model IEnumerable<UsuarioModel>

<LINK REL=StyleSheet HREF="~/Content/bootstrap.min.css" TYPE="css">
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
@{
    ViewBag.Title = "Usuarios del Sistema";
}
<h2 style="text-align:center">Usuarios del Sistema</h2>
<p>
    <a href="#" class="btn btn-default" title="Nuevo Usuario" data-toggle="modal" data-target="#exampleModalCenter">Nuevo Usuario</a>
</p>

<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center">Nuevo Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" method="post" id="guardar_usuario" name="guardar">
                    <div class="form-group">
                        <label for="id_usuario">Cédula:</label>
                        <input class="form-control" name="id_usuario" type="text" id="id_usuario" placeholder="# #### ####" />
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input class="form-control" name="nombre" type="text" id="nombre" placeholder="Nombre" />
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input class="form-control" name="apellido" type="text" id="apellido" placeholder="Apellido" />
                    </div>
                    <div class="form-group">
                        <label for="correo">E-mail:</label>
                        <input class="form-control" name="correo" type="email" id="correo" placeholder="ejemplo@correo.es" />
                    </div>
                    <div class="form-group">
                            <label for="tipo">Perfil:</label>
                            <select class="form-control" name="tipo">
                                <option value="Administrador">Administrador</option>
                                <option value="Cliente">Cliente</option>
                            </select>
                        </div>
                    <div class="form-group">
                        <label for="contraseña">Contraseña:</label>
                        <input class="form-control" name="contraseña" type="password" id="contraseña" placeholder="Contraseña" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button value="" name="guardar" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table cellpadding="0" cellspacing="0" class="table">
    <tr>
        <th>Cédula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Contraseña</th>
    </tr>

    @foreach (UsuarioModel usuario in Model)

    {
        <tr>
            <td>@usuario.id_Usuario</td>
            <td>@usuario.nombre</td>
            <td>@usuario.apellido</td>
            <td>@usuario.correo</td>
            <td>@usuario.tipo</td>
            <td>@usuario.contraseña</td>
            @*<td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Editar
                    </button>
                    @Html.ActionLink("Editar", "Edit", new { id = usuario.id_Usuario }) |
                    @Html.ActionLink("Detalles", "Details", new { id = usuario.id_Usuario }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = usuario.id_Usuario })
                </td>*@
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

